$bgColor: rgba(0, 0, 0, 0.452);
*{
  box-sizing: border-box;
}
body{
  background-color: rgb(52, 77, 100);
  color:#fff;
  header{
    margin:2%;
    padding:2%;
  }
  section{
    border:2px solid #000;
    margin:2%;
    padding:2%;
    background-color: $bgColor;
    &:nth-child(odd){
      text-align:right;
    }
    .prettyView{
      display: flex;
      justify-content: space-evenly;
      padding: 0 15%;
      div{
        border:2px dashed #fff;
        width:10%;
        padding:5%;
        flex:1;
        justify-content: center;
        display:flex;
        margin:2%;
      }

    }
  }
  canvas{
    border:2px dashed red;
  }
}

