// article {
//   width: 100px;
//   height: 150px;
//   max-height: 400px;
//   color: white;
//   perspective: 1000px;
//   position: relative;
//   text-align: center;
//   div{
//     clear: both;
//     -webkit-transition: -webkit-transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);
//     transition: -webkit-transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);
//     transition: transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);
//     transition: transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1), -webkit-transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);
//     -webkit-backface-visibility: hidden;
//             backface-visibility: hidden;
//     overflow: hidden;
//     position: relative;
//     display: -webkit-box;
//     display: -ms-flexbox;
//     display: flex;
//     -webkit-box-align: center;
//         -ms-flex-align: center;
//             align-items: center;
//     -webkit-box-pack: center;
//         -ms-flex-pack: center;
//             justify-content: center;
//     min-height: 100%;
//     height: 150px;


//     .text {
//       -webkit-transition: opacity 0.4s linear, -webkit-transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);
//       transition: opacity 0.4s linear, -webkit-transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);
//       transition: transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1), opacity 0.4s linear;
//       transition: transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1), opacity 0.4s linear, -webkit-transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);
//       opacity: 0;
//     }

//   }

//   .front {
//     background-image: url(https://cdn.pixabay.com/photo/2019/06/17/08/39/phone-4279429__340.jpg);
//     position: absolute;
//     z-index: 2;
//     width: 100%;
//     height: 100%;
//     top: 0;
//     left: 0;
//     -webkit-transform: rotateY(0deg);
//     transform: rotateY(0deg);
//     background-size: cover;
//     background-position: center;
//     background-color: #222;
//     background-blend-mode: overlay;
//     cursor: pointer;
//     .text {
//       -webkit-transform: translate3d(0, 0, 0);
//       transform: translate3d(0, 0, 0);
//       opacity: 1;
//     }
//   }
//   .back {
//     -webkit-transform: rotateY(180deg);
//             transform: rotateY(180deg);
//     background: darkorange;
//     position: relative;
//     z-index: 1;
//     .text {
//       padding: 0 1.7em;
//       // transform: translate3d(100%, 0, 0); /*odpowiedzialne za animacje tekstu na rewersie karty*/
//     }
//   }
//   .third{
//     // -webkit-transform: rotateY(180deg);
//     //         transform: rotateY(180deg);

//   }
 

//   &:hover{
//     .front {
//         -webkit-transform: rotateY(-180deg);
//         transform: rotateY(-180deg);
//         .text {
//           -webkit-transform: translate3d(-200%, 0, 0);
//           transform: translate3d(-200%, 0, 0);
//           opacity: 0;
//         }
//     }
//     .back {
//       -webkit-transform: rotateY(0deg);
//       transform: rotateY(0deg);
//       .text {
//         -webkit-transform: translate3d(0, 0, 0);
//                 transform: translate3d(100, 0, 0);
//         opacity: 1;
//       }
//     }

//   }
// }

*{
  box-sizing: border-box;
}
.art1{
  position:relative;
  width:100%;
  height:100%;
  // styl dla wszystkich "okienek"
  div{
    position:absolute;
    background-color:rgb(167, 57, 57);
    border:2px dashed green;
    width:100%;
    height:100%;
    display:flex;
    justify-content: center;
    align-items: center;    
    backface-visibility: hidden;
    transition: transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);
  }
  
  // odwracanie tych domyślnie niewidocznych
  .back,.third{
    background-color:yellow;
    opacity:0;
    transform: rotateY(-180deg);
    transition:0.7s;
    .text{
      transition: transform 0.7s cubic-bezier(0.2, 0.2, 0.2, 1), opacity 0.4s linear;
      transform: translate3d(200%, 0, 0);
    }
  }

  &:hover{
    // odwracam do tyłu i znika
    .front{
      transform: rotateY(180deg);
      transition: transform 0.7s cubic-bezier(0.2, 0.2, 0.2, 1);  
      .text{
        transition: transform 0.7s cubic-bezier(0.2, 0.2, 0.2, 1), opacity 0.4s linear;
        transform: translate3d(-200%, 0, 0);
      }
    
    }
    // przechodzi na przód
    .back{
      opacity:1;
      transform: rotateY(0deg);
      transition: transform 0.7s cubic-bezier(0.2, 0.2, 0.2, 1);
      .text{
        transition: transform 0.7s cubic-bezier(0.2, 0.2, 0.2, 1), opacity 0.4s linear;
        transform: translate3d(0, 0, 0);        
      }
    }
  }

  &:active{
    .back{
      transform: rotateY(180deg);
      transition: transform 0.7s cubic-bezier(0.2, 0.2, 0.2, 1);  
      .text{
        transition: transform 0.7s cubic-bezier(0.2, 0.2, 0.2, 1), opacity 0.4s linear;
        transform: translate3d(-200%, 0, 0);
      }
    }
    .third{
      opacity:1;
      transform: rotateY(0deg);
      transition: transform 0.7s cubic-bezier(0.2, 0.2, 0.2, 1);
      .text{
        transition: transform 0.7s cubic-bezier(0.2, 0.2, 0.2, 1), opacity 0.4s linear;
        transform: translate3d(0, 0, 0);        
      }
    }
  
  }


}