{% include "header.html" %}
  <main class="contact">
    <h1>{{lang[language].desc}}</h1>
      <h3>{{fullName}}</h3>
      <p>{{phone}}</p>
      <p>{{mail}}</p>
      <h2>{{lang[language].content[0]}}</h2>
      <section class="socials">
        <a class="single github" href="{{github}}" target="_blank"></a>
        <a class="single phone" href="tel:{{phone}}"></a>
        <a class="single mail" href="mailto:{{mail}}"></a>
        <a class="single messenger" href="{{messenger}}" target="_blank"></a>
        <a class="single insta" href="{{ig}}" target="_blank"></a>
        <a class="single yt" href="{{yt}}" target="_blank"></a>
        <a class="single fb" href="{{fb}}" target="_blank"></a>
      </section>
  </main>
{% include "footer.html" %}