{% include "header.html" %}
<div class="details">
  <div class="background" style="background-color:{{color}}"></div>
  <div class="mainImg">
    <img src="/img/contents/{{img}}" alt="{{title}}">
  </div>
</div>
<main class="content">
  <h1>{{name}}</h1>
  <h2>{{lang[language].desc}}</h2>
  {% for section in content %}
    <section>
      {% if section.header %}
        <header>
          {{section.header | safe}}
        </header>
      {% endif %}
      {% if section.article %}
        <article>
            {{section.article | safe}}
        </article>
      {% endif %}
    </section>
  {% endfor %}
</main>
{% include "footer.html" %}