  <footer>
    <nav>
      <p>
        <a href="/">
          <span>{{pageBuild[language].nav.home}}</span>
        </a>
        <a href="/projects">
          <span>{{pageBuild[language].nav.projects}}</span>
        </a>
        <a href="/exps">
          <span>{{pageBuild[language].nav.exps}}</span>
        </a>
        <a href="/contact.html">
          <span>{{pageBuild[language].nav.contact}}</span> 
        </a>
      </p>
    </nav>
    <p>
      Created by apietryga 2022.
    </p>          
  </footer>
</body>
</html>