    <footer>
      <nav>

        <p>
          <a href="/">
            <span>{{pageBuild[language].nav.home}}</span>
          </a>
          <a href="/projects">
            <span>{{pageBuild[language].nav.projects}}</span>
          </a>
          <a href="/exps">
            <span>{{pageBuild[language].nav.exps}}</span>
          </a>
          <a href="/contact.html">
            <span>{{pageBuild[language].nav.contact}}</span>  
        </p>
      </nav>
      <p>
        Created by apietryga 2022.
      </p>          
    </footer>
  </div>
</body>
</html>
<script src="/js/functions.js"></script>
<script>
  // abort menu on focus out
  const menu = {
    toggler : document.querySelector("#toggler"),
    init(){
      document.addEventListener("click", e => {
        let isMenuClick = false;
        let elem = e.target;
        for ( ; elem && elem !== document; elem = elem.parentNode ) {
          if(elem.classList.contains("menu")){
            isMenuClick = true;
          }
        }
        if(!isMenuClick){
          this.toggler.checked = false;
        }
      })
    }
  } 
  menu.init();

  if('serviceWorker' in navigator){navigator.serviceWorker.register('/js/serviceWorker.js');}

  const searchPages = "{{searchPages}}";
  const lang = "{{lang}}";
</script>
<script src="/js/search.js"></script>
