<!DOCTYPE html>
<html lang="{{language}}">
<head>
  <meta charset="UTF-8">
  <title>{{title}}</title>
  <meta property="og:title" content="{{title}}" />
  <meta name="description" content="{{desc}}">
  <meta name="keywords" content="{{keywords}}">

  <meta property="og:title" content="{{title}}" />
  <meta property="og:description" content="{{desc}}" />
  <meta property="og:image" content="{{host|safe}}{{metaIMG|safe}}" />
  <meta property="og:image:alt" content="{{title|safe}}" />
  <meta property="og:url" content="{{fullHref|safe}}" />  
  <meta property="og:image:width" content="700" />
  <meta property="og:image:height" content="700" />
  <meta property="og:type" content="website" />

  <meta name="theme-color" content="black">
  <meta name="author" content="apietryga">
  <meta name="google-site-verification" content="HiFKcOEQgBmvsSspbPCegvzrnmfGmZIilwJ5zZbh21k" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta property="fb:app_id" content="391914688893705" />

  <link rel="apple-touch-icon" href="{{host}}/img/icons/apple-touch-icon.png">  
  <link rel="shortcut icon" href="/img/icons/favicon.ico" type="image/x-icon">
  <link rel="manifest" href="/js/manifest.json?v={{version|safe}}">

  <script src="/js/functions.js" defer></script>
  <script src="/js/allPages.js" defer></script>
