{% include "header.html" %}
<main class="list">
  <h1>{{title}}</h1>
  <nav>
    {% for item in content %}
    <section>
        <header>
          <h2>
            <a href="{{item.href}}">{{item.name | safe}}</a>
          </h2>
          <p class="date">{{item.date}}</p>
        </header>
        <article>
          <img src="/img/contents/{{item.img}}" alt="{{item.name}}">
          <p>{{item.lang[language].desc | safe}}</p>
        </article>
          <footer>
            {% for tag in item.lang[language].category %}
              <a href="/search?q={{tag| safe }}">#{{tag | safe}}</a>
            {% endfor %}
          </footer>
      </section>    
      {% endfor %}
    </nav>
</main>
{% include "footer.html" %}