body{
  background-color: deepskyblue;
}

/* for development */
div{
  border:2px dashed red;
}

.title{
  text-align: center;
  padding: 20px 0;
}

.subtitle{
  padding:10px;
  display:flex;
  justify-content: space-around;
}

.gif{
  padding:6%;
  border:2px solid rgb(46, 46, 247);
  color:rgb(46, 46, 247);
}
.content{
  display:flex;
  justify-content: center;
  padding:6%;
}
.displayGif{
  /* stosunek tego do desc Gifa */
  flex:3;
}
.descGif{
  flex:2;
}

.content div{
  height:200px;
  color:red;
  display:flex;
  align-items: center;
  justify-content: center;

}


.footer{
  padding: 20px 0;
  text-align: right;
}