body{
  background-color: antiquewhite;
}

/* div{
  border:2px dashed red;
} */
.header{
  display:flex;
  justify-content: flex-end;
  padding: 15px 0;
}
.nav{
  width:60%;
}

.menu{
  display:flex;
  justify-content: space-around;
}


/* WYKRES 1 */
.wykres1{
  border:5px dashed blue;
  height:2in;
  display:flex;
  justify-content: space-evenly;
}
.slupek{
  width: 12%;
  background-color: aqua;
}
.s1{height:1in;}
.s2{height:1cm;}
.s3{height:1mm;}
.s4{height:1px;}
.s5{height:1pt;}


/* WYKRES 2 */
.wykres2{
  border:5px dashed blue;
  /* height:2in; */
  display:flex;
  flex-direction: column;
}
.slPion{
  height:12%;
  padding:5%;
  margin: 10px 0 ;
  background-color: aqua;
}
.sl1{width:50%;}
.sl2{width:10vh;}
.sl3{width:10vw;}
.sl4{width:15vw;}



