:root{

  /* --font-family: "Ubuntu", sans-serif; */
  --font-family:  'Nunito', sans-serif;
  /* --font-primary-color:#fff; */
  --font-primary-color:rgb(203, 186, 186);
  
  --link-color:#67a4e8;
  
  /* --dark-primary:rgb(39, 39, 39); */
  --dark-primary:#111;
  --bright-primary:#eee;

  --primary-color:#25bb31;

  --hover-color: rgba(116, 116, 116, 0.2);

  --navHeaderHeight: 3rem;
  --navfooterHeight:18vh;

  --icon-size:2rem;
}