:root{
  --font-family:  'Nunito', sans-serif;
  --font-primary-color:#eee;
  
  --link-color:#67a4e8;
  --dark-rocks:#000000;
  
  --dark-primary:#111;
  --bright-primary:#eee;

  --primary-color:#25bb31;

  --hover-color: rgba(116, 116, 116, 0.2);

  --navHeaderHeight: 3rem;
  --navfooterHeight:18vh;

  --icon-size:2rem;

  --clickedColor: rgba(0, 0, 0, 0.2);
  --backgroundColor: rgb(214, 214, 214);
  --fontColor:rgba(31, 29, 29, 0.8); 
}
*{
  box-sizing: border-box;
}
a{
  text-decoration: none;
  color:inherit;
}
h1, h2, p{
  margin:0;
}
#__nuxt{
  /* min-height: 100vh; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  z-index: -1;
}
#__nuxt > div{
  flex:1;
}
body{
  background-color:var(--backgroundColor);
  font-family: var(--font-family);
  margin:0;
  letter-spacing: 0.2px;
  line-height: 20px;
  color:var(--fontColor);
  height:calc(100vh - var(--navHeaderHeight));
  position:relative;
  z-index:0;
}