{% include "header.html" %}
  <link rel="stylesheet" href="/style/others.min.css?v={{version|safe}}">
  <script src="/js/details.js" defer></script>
{% include "navHeader.html" %}
<div class="details">
  <div class="background" style="background-color:{{color}}"></div>
  <div class="mainImg">
    <img src="/img/contents/{{img}}" alt="{{title}}">
  </div>
</div>
<main class="content">
  <h1>{{name}}</h1>
  <h2>{{lang[language].desc}}</h2>
  {% for section in content %}
    <section>
      {% if section.header %}
        <header>
          {{section.header | safe}}
        </header>
      {% endif %}
      {% if section.article %}
        <article>
            {{section.article | safe}}
        </article>
      {% endif %}
    </section>
  {% endfor %}

  <div class="prevNextWrapper">
    <div class="prev">
      {{prev | safe}}
    </div>
    <div class="next">
      {{next | safe}}
    </div>
  </div>

</main>

{% include "footer.html" %}