$primaryColor: rgb(65, 25, 25);
$secondaryColor: rgb(236, 165, 165);
%centered{
  display:flex;
  justify-content: center;
  align-items: center;
}
*{
  box-sizing: border-box;
}
img{
  max-width: 60%;
}

body{
  background-color: bisque;
  h1{
    @extend %centered;
  }
  .twoCols{
    border:2px dashed red;
    @extend %centered;
    header{
      border:2px dashed blue;
      flex:2;
      padding-left:2%;
      color:$primaryColor;
      background-color: $secondaryColor;
    }
    .imgHolder{
      @extend %centered;
      border:2px dashed green;
      flex:1;
      background-color:$primaryColor;
      padding:5%;
    }
  }

  main{
    @extend %centered;
    flex-wrap: wrap;
    justify-content: space-around;
    div{
      @extend %centered;
      border:2px dashed red;
      width:30vw;
      height:30vw;
      margin:1vw 0;
      background-size:cover;
      background-position: center;
    }

    @for $i from 1 through 6{
      div:nth-child(#{$i}){
        border:4vw solid lighten( #000000, $i * 13%);
        background-image: url(img/d#{$i}.jpg);
      }
    }

  }



  .second{
    flex-direction: row-reverse;
  }
}